In [6]:
#leadership

In [12]:
import numpy as np
import pandas as pd
import xlrd
from pandas import ExcelWriter
from pandas import ExcelFile

In [18]:
dfs1=pd.read_excel('Automation File - TS Summaries.xlsm', sheet_name='Sheet1')
#df = pd.read_excel('Automation File - TS Summaries.xlsm', sheet_name=None)

In [17]:
dfs1

,email,Name,Time Frame,Location,Department,Strong Internal Relationships,Strong External Relationships,TOTAL Strong Internal Relationships,TOTAL Strong External Relationships,Number of Business Units Accessed,...,6pm-12am New,6pm-12am T=2,12am-8ma New,12am-8ma T=2,Senior Males,Senior Females,Mid Males,Mid Females,Junior Males,Junior Females
0,adesh.goel@trustsphere.com,"GOEL, Adesh",May 2019 - June 2019,SG,Executive Office,NaN,NaN,24,19,NaN,...,NaN,185,NaN,38,4,0,4,1,12,10
1,arun.sundar@trustsphere.com,"SUNDARAM, Arun Sundar",May 2019 - June 2020,SG,Corporate Strategy & Alliances,NaN,NaN,18,75,NaN,...,NaN,265,NaN,61,4,0,3,1,9,12
2,brian.lebahn@trustsphere.com,"LEBAHN, Brian",May 2019 - June 2021,-,"Marketing, Sales & Business Development",NaN,NaN,0,2,NaN,...,NaN,13,NaN,1,0,0,0,0,0,0
3,graham.wells@trustsphere.com,"WELLS, Graham",May 2019 - June 2022,UK,Technical & Development,NaN,NaN,12,3,NaN,...,NaN,5,NaN,2,3,0,1,1,9,3
4,greg.newman@trustsphere.com,"NEWMAN, Greg",May 2019 - June 2023,US,"Product, People's Analaytic Solutions",NaN,NaN,14,31,NaN,...,NaN,201,NaN,0,5,0,2,1,10,9
5,jack.welch@trustsphere.com,"WELCH, Jack",May 2019 - June 2024,US,"Marketing, Sales & Business Development",NaN,NaN,0,0,NaN,...,NaN,0,NaN,0,0,0,0,0,1,0
6,kunal.thukral@trustsphere.com,"THUKRAL, Kunal",May 2019 - June 2025,SG,Corporate Strategy & Alliances,NaN,NaN,12,21,NaN,...,NaN,133,NaN,6,5,0,3,1,7,9
7,manish.goel@trustsphere.com,"GOEL, Manish",May 2019 - June 2026,UK,Executive Office,NaN,NaN,26,77,NaN,...,NaN,500,NaN,99,4,0,7,1,14,12
8,michael.knight@trustsphere.com,"KNIGHT, Michael",May 2019 - June 2027,US,"Marketing, Sales & Business Development",NaN,NaN,8,7,NaN,...,NaN,37,NaN,14,3,0,3,1,6,3
9,priya.bagga@trustsphere.com,"BAGGA, Priya",May 2019 - June 2028,SG,"Marketing, Sales & Business Development",NaN,NaN,25,28,NaN,...,NaN,170,NaN,5,5,0,7,0,14,12
10,roland.turner@trustsphere.com,"TURNER, Roland",May 2019 - June 2029,SG,Labs,NaN,NaN,10,7,NaN,...,NaN,14,NaN,0,5,0,1,1,8,4
11,shaun.keating@trustsphere.com,"KEATING, Shaun",May 2019 - June 2030,Australia,"Marketing, Sales & Business Development",NaN,NaN,11,26,NaN,...,NaN,225,NaN,311,4,0,7,1,9,10
12,stan.fischer@trustsphere.com,"FISCHER, Stan",May 2019 - June 2031,US,"Marketing, Sales & Business Development",NaN,NaN,3,2,NaN,...,NaN,26,NaN,14,3,0,2,1,4,4
13,steve.allam@trustsphere.com,"ALLAM, Steve",May 2019 - June 2032,UK,Technical & Development,NaN,NaN,19,20,NaN,...,NaN,145,NaN,25,4,0,7,1,14,12
14,tim.loveday@trustsphere.com,"LOVEDAY, Tim",May 2019 - June 2033,Australia,Technical & Development,NaN,NaN,9,5,NaN,...,NaN,6,NaN,0,4,0,2,1,8,3

In [23]:
#dfs1.to_excel('Automation File - TS Summaries.xlsm', sheet_name='Sheet1')
dfs1.to_excel('states.xlsx', sheet_name='Sheet1', index=False)