In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline
import seaborn as sns

In [2]:
# load the datasets
dfgen=pd.read_csv('pf-general.tsv', sep='\t')
dfhr=pd.read_csv('./CSV/HR_Data_Final_update.csv')

In [3]:
#strip white spaces
dfgen=dfgen.apply(lambda x: x.str.strip() if x.dtype == "object" else x)
dfhr=dfhr.apply(lambda x: x.str.strip() if x.dtype == "object" else x)

In [5]:
#drop cols if not required - count from left 0...
dfgen.drop(dfgen.columns[[2, 3, 4, 6,7,9,10,11,12,13,14,15,16]], axis = 1, inplace = True)

In [7]:
dfgen = pd.DataFrame(dfgen)

In [8]:
#rename cols
dfgen.rename(columns = {"Local": "address","Remote":"recipient"}, inplace = True)

In [9]:
#arrange order
dfgen = dfgen[['address','recipient','Created','TrustScore']]

In [10]:
#join on with address
dfgen=pd.merge(dfgen,dfhr, on='address')

In [13]:
dfc=dfgen.groupby ('address')['recipient'].count().sort_values(ascending=False)

In [14]:
dfc

address
43135@2.test     1315
36659@2.test     1190
1540@2.test      1121
39489@2.test      970
34885@2.test      922
                 ...
43625@2.test        1
217020@2.test       1
253462@2.test       1
142344@2.test       1
27704@2.test        1
Name: recipient, Length: 4324, dtype: int64

In [15]:
#join on with address
dfc=pd.merge(dfc,dfhr, on='address')

In [16]:
dfc

,address,recipient,Sample,Job Level,Job Family,Team,Department,Location
0,43135@2.test,1315,No,Manager/Sr. Manager,Bus Dev & Strategic Planning,32645@2.test,Global Product Development,USA - MD - Remote
1,36659@2.test,1190,No,Analyst & Below,Administrative,6771@2.test,WW Research & Development,USA - CT - Groton
2,1540@2.test,1121,No,Analyst & Below,Support Services,3876@2.test,WW Research & Development,USA - MA - Andover
3,39489@2.test,970,No,Sr. Director,Regulatory Affairs,13490@2.test,Global Product Development,USA - MD - Silver Spring Colesville
4,34885@2.test,922,Yes,VP & Above,Research and Development,27391@2.test,Global Product Development,USA - NJ - Peapack
...,...,...,...,...,...,...,...,...
4319,43625@2.test,1,No,Analyst & Below,Sales,116808@2.test,Pfizer Biopharmaceuticals Group (PBG),ExUS
4320,217020@2.test,1,No,Manager/Sr. Manager,Support Services,64101@2.test,Pfizer Biopharmaceuticals Group (PBG),ExUS
4321,253462@2.test,1,No,Analyst & Below,Sales,253414@2.test,Upjohn,ExUS
4322,142344@2.test,1,No,Analyst & Below,Medical,44847@2.test,Global Product Development,ExUS
4323,27704@2.test,1,No,Manager/Sr. Manager,Research and Development,25388@2.test,WW Research & Development,USA - CA - La Jolla

In [17]:
#export
dfc.to_csv(r'PF-count.csv', index = False)

In [1]:
import networkx as nx

In [3]:
Gu = nx.from_pandas_edgelist(dfgen, source='Sender', target='Recipient')

NameError: name 'dfgen' is not defined